/* Resetting some default browser styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f9f9f9;
    color: #333;
  }
  
  /* Styling for the app container */
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  /* General link styling */
  a {
    text-decoration: none;
    color: inherit;
  }
  
  /* Heading alignment */
  h1, h2, h3 {
    margin: 0;
  }
  
  /* Global container spacing */
  main {
    flex: 1;
    padding: 20px;
  }
  
  /* Utility for grid display */
  .grid {
    display: grid;
    gap: 20px;
  }
  
  .grid-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  
  .grid-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .grid-1 {
    grid-template-columns: 1fr;
  }


  /*header responsive design code*/
  /* Style for Menu icon */
.menu-icon {
  display: none; /* Hide by default */
  font-size: 30px;
}

